/* Estilos personalizados */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: #fff;
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px );
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #fff;
  }
  
  .sidebar .nav-link.active {
    color: #fff;
  }
  
  .sidebar .nav-link:hover {
    color: #f8f9fa;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-signin .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .form-signin .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .form-signin input[type="email"],
  .form-signin input[type="password"] {
    margin-bottom: 10px;
  }
  
  .form-signin label {
    display: none;
  }
  
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      width: 250px;
    }
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
  #sidebar{
    
    padding-left: 15px;
    width: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  #sidebar:hover{
    width: 300px;
  }
  main{
    margin: auto;
}
  #pesqNav{
    margin-bottom: 5px;
  }

  .bolStyle{
  
    top: 420px;
    right: -370px;
    position: fixed;
    background-color: #007bff;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border-right:5px solid #07498f;
    filter: blur(1px);

  }
  .bolStyle:hover{
    transform: rotate(360deg);
    transition: all .5s ease;
  }
.titleBol{
  color: #0062cc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  position: fixed;
  top: 580px;
  right:139px;
}
.hl{
  color: #fff ;
}
.imgimg{
  margin-top:300px;
margin-left: 10px;
  width: 16px;
  transform: rotate(90deg);
}
/* Estilo básico para os círculos */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
}

/* Posicionando os círculos */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

/* Aplicando a animação */
@keyframes moveCircle {
  0% {
    transform: translate(0, 0);
    opacity: 1%;
  }
  50% {
    transform: translate(90vw, 90vh);
    opacity: 50%; /* Movendo para fora da tela */
  }
  100%{
    transform: translate(0, 0);
    opacity: 1%;
    filter: blur(5px); /* Aplica o efeito de desfoque */


  }
}

/* Aplicando a animação aos círculos */
.circle {
  animation: moveCircle 9s linear infinite;
}
form{
  
    text-align: center;
    line-height: 200px;
    filter: blur(0px); /* Aplica o efeito de desfoque */
  
  
}
.image {
  display: flex;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  align-items: center;
  justify-content: center;
}

.image:hover {
  transform: scale(1.05);
}

.blue {
  background-color: #007bff; /* Blue Bootstrap color */
}

.light-blue {
  background-color: #17a2b8; /* Light Blue Bootstrap color */
}

.dark-blue {
  background-color: #0056b3; /* Dark Blue Bootstrap color */
}

.navy-blue {
  background-color: #001f3f; /* Navy Blue Bootstrap color */
}
.ift{
  width: 100px;
}